<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> c6ce25c (header)

*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
}

>>>>>>> c6ce25c (header)
header{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
    color: white;
  }
  
  span:nth-child(2){
    color: red;
  }

<<<<<<< HEAD
  .sidebar{
    text-align: center;
  }
=======
span:nth-child(2){
  color: red;
}

<<<<<<< HEAD
=======
>>>>>>> 7d9190d (header)
=======
>>>>>>> c6ce25c (header)
header{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
    color: white;
  }
  
  span:nth-child(2){
    color: red;
  }

  .sidebar{
    text-align: center;
<<<<<<< HEAD
  }
<<<<<<< HEAD
>>>>>>> c6ce25c (header)
=======
>>>>>>> 7d9190d (header)
=======
  }
>>>>>>> c6ce25c (header)
